.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #fff;
}

h1 {
  margin: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700px;
  /* text-shadow: 5px 0 #232931; */
  font-size: 7rem;
  color: #1F98F0;
}

p {
  font-size: 2rem;
  color: #1a1615;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500px;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #0a0909;
  text-align: center;
  font-family: 'Montserrat', sans-serif;

}
